/* start custom scss snippet */
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
/* end custom scss snippet */
